---
import Icon from "@/assets/images/ico-external.svg";

export interface Props {
  title: string;
  subTitle?: string;
  hasSpace?: boolean;
  isTitle?: boolean;
  href?: string;
  isPrimaryColor?: boolean;
}

const { title, subTitle, hasSpace, isTitle, href, isPrimaryColor } =
  Astro.props;
---

<div
  class:list={[
    hasSpace ? "info info--has-space" : "info",
    { "info--primary": isPrimaryColor },
  ]}
>
  {
    href && (
      <a
        href={href}
        class="info__title info__title--link f-roboto"
        target="_blank"
      >
        <span> {title}</span>

        <span class="info__icon">
          <img src={Icon} />
        </span>
      </a>
    )
  }

  {isTitle && !href && <h1 class="info__title f-roboto">{title}</h1>}

  {!isTitle && !href && <h2 class="info__title f-roboto">{title}</h2>}

  <p class="info__subtitle">{subTitle}</p>
</div>

<style lang="scss">
  .info {
    &--primary {
      color: $keyColor;
    }
    &__title {
      font-size: 1rem;
      font-weight: 700;

      &--link {
        span {
          text-decoration: underline;
        }
      }
    }

    &__icon {
      display: inline-block;
      width: 0.7rem;
      height: 0.7rem;
    }

    &__subtitle {
      font-size: 1rem;
    }

    &--has-space {
      padding: 18px 18px;
    }
  }
</style>
