---
import IconExternal from "@/components/IconExternal.astro";
export interface Props {
  title: string;
  subTitle?: string;
  isTitle?: boolean;
  href?: string;
}

const { title, subTitle, isTitle, href } = Astro.props;
---

<div class:list={["info"]}>
  {
    href && (
      <a
        href={href}
        class="info__title info__title--link f-roboto"
        target="_blank"
      >
        <span> {title}</span>

        <span class="info__icon">
          <IconExternal />
        </span>
      </a>
    )
  }

  {isTitle && !href && <h1 class="info__title f-roboto">{title}</h1>}

  {!isTitle && !href && <h2 class="info__title f-roboto">{title}</h2>}

  <p class="info__subtitle f-roboto">{subTitle}</p>
</div>

<style lang="scss">
  .info {
    &__title {
      position: relative;
      font-size: map-get($font-size, md);
      font-weight: map-get($font-weight, bold);
      color: $color-primary;
      &--link {
        span {
          text-decoration: underline;
        }
      }
    }

    &__subtitle {
      color: $color-primary;
      font-size: map-get($font-size, md);
      font-weight: map-get($font-weight, bold);
    }

    &__icon {
      position: relative;
      top: -2px;
      left: -2px;
      display: inline-block;
      width: 0.6em;
      height: 0.6em;
    }
  }
</style>
