---
export interface Props {
  type?: "page" | "section" | "block" | "sub-block" | "sub-sub-block";
  text?: string;
}

const { type = "section", text } = Astro.props;
---

{
  type === "page" && (
    <h1 class:list={["ty-heading ty-heading--page"]}>{text}</h1>
  )
}

{
  type === "section" && (
    <h2 class:list={["ty-heading ty-heading--section"]}>{text}</h2>
  )
}

{
  type === "block" && (
    <h3 class:list={["ty-heading ty-heading--block"]}>{text}</h3>
  )
}

{
  type === "sub-block" && (
    <h4 class:list={["ty-heading ty-heading--sub-block"]}>
      {text}
      <slot />
    </h4>
  )
}

{
  type === "sub-sub-block" && (
    <h5 class:list={["ty-heading ty-heading--sub-sub-block"]}>
      {text}
      <slot />
    </h5>
  )
}

<style lang="scss">
  .ty-heading {
    &--page {
      font-size: map-get($font-size, xl);
      color: $color-primary;
    }

    &--section {
      font-size: map-get($font-size, lg);
    }

    &--block {
      font-size: map-get($font-size, md);
    }

    &--sub-block {
      font-size: map-get($font-size, md);
    }

    &--sub-sub-block {
      font-size: map-get($font-size, md);
    }
  }
</style>
