---
import TyInformation from "@/components/TyInformation.astro";
import TyText from "@/components/TyText.astro";
import { Image } from "astro:assets";

export interface Props {
  image: string;
  title: string;
  role: string;
  comment: string;
  href: string;
}

const { image, href, title, role, comment } = Astro.props;
---

<li class='ty-work"'>
  <a class="ty-work__anchor" href={href} target="_blank">
    <div class="ty-work__image">
      <Image src={image} alt={title} width="450" height="225" />
    </div>
  </a>

  <div class="ty-work__info">
    <TyInformation title={title} subTitle={role} href={href} />
    <TyText size="md">{comment}</TyText>
  </div>
</li>

<style lang="scss">
  .ty-work {
    &__anchor {
      position: relative;
    }

    &__image {
      width: 100%;
      height: 0;
      padding-bottom: 50%;
      overflow: hidden;
    }

    &__info {
      position: relative;
      margin-top: map-get($margin, 1);
      color: $color-primary;
    }
  }
</style>

<script lang="ts"></script>
