---
import Information from "@/components/Information.astro";
import Text from "@/components/Text.astro";

export interface Props {
  image: string;
  title: string;
  role: string;
  comment: string;
  href: string;
}

const { image, href, title, role, comment } = Astro.props;
---

<li class="work">
  <a class="work__anchor" href={href} target="_blank">
    <div class="work__image">
      <img src={image} alt={title} />
    </div>
  </a>

  <div class="work__info">
    <Information title={title} subTitle={role} href={href} />
    <Text size="md">{comment}</Text>
  </div>
</li>

<style lang="scss">
  .work {
    &__anchor {
      position: relative;
    }

    &__image {
      // width: 75%;
      height: 0;
      padding-bottom: 40%;
      overflow: hidden;
      // margin: auto;
      // clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }

    &__info {
      position: relative;
      margin-top: map-get($margin, 1);
      color: $color-primary;
    }
  }
</style>

<script lang="ts"></script>
